<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>189257593678-92lu49ip47v8q59jfr2td8fp2ab3567t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.189257593678-92lu49ip47v8q59jfr2td8fp2ab3567t</string>
	<key>API_KEY</key>
	<string>AIzaSyArY2LiQeKJqZ9HCM9UpILeMYr_m0eyA_k</string>
	<key>GCM_SENDER_ID</key>
	<string>189257593678</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.an.an</string>
	<key>PROJECT_ID</key>
	<string>anapp-1342a</string>
	<key>STORAGE_BUCKET</key>
	<string>anapp-1342a.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:189257593678:ios:05f915e584e76f6231241f</string>
</dict>
</plist>